@model ReportModel
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Generate Report";
}
<h1>@ViewData["Title"] </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateDocx">
            <select asp-for="Trackers" asp-items="@Model.Countries"></select>
            <div class="form-group">
                <input type="submit" value="Generate Report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>