@model CoopTracker.Models.ProffApplyModelCreate
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProffApply</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <input class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("TenantId")" disabled />
                <input asp-for="TenantId" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("TenantId")" type="hidden" />
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackeeId" class="control-label"></label>
                <input class="form-control" value="@Model.TrackeeId" disabled />
                <input asp-for="TrackeeId" class="form-control" value="@Model.TrackeeId" type="hidden" />
                <span asp-validation-for="TrackeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
